version: "3.3"

services: 
  api_server:
    container_name: chat-room-api_server
    restart: always
    build: .
    ports: 
      - "3000:3000"
      - "3001:3001"
    environment: 
      - DEBUG=databaseFile,
      - MONGO_URL=mongodb://mongo/mydatabase
      - SERVER_PORT=3000
      - WS_PORT=3001
    links: 
      - mongo
    volumes: 
      - .:/usr/src/app
  mongo:
    image: mongo:4.4.8
    ports: 
      - "27018:27017"
    logging: 
      driver: none
